Repository uwumilabs/react-native-consumet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, types

lint:
  run: 'echo "🔍 Running ESLint..."
  
    npx eslint --fix . {staged_files}
  
    yarn lint --fix .
  
    echo "✅ ESLint completed"
  
    '
  stage_fixed: true

format:
  run: 'echo "🎨 Running Prettier..."
  
    npx prettier --write {staged_files}
  
    yarn prettier
  
    echo "✅ Prettier formatting completed"
  
    '
  stage_fixed: true

types:
  run: 'echo "🛠 Running TypeScript check..."
  
    npx tsc --noEmit
  
    yarn typecheck
  
    echo "✅ TypeScript check completed"
  
    '

refactor(animekai): support hardsub, softsub, and dub server types
  apps/src/non-registry/Anime.tsx
  apps/src/non-registry/ex.txt
  dist/extension-registry.json
  dist/providers/anime/animekai/create-animekai.d.ts.map
  dist/providers/anime/animekai/create-animekai.js
  dist/providers/anime/animekai/create-animekai.js.map
  src/extension-registry.json
  src/providers/anime/animekai/create-animekai.ts
Due: lint, format, types

fix(animepahe): correct logo url
  apps/src/non-registry/Anime.tsx
  dist/extension-registry.json
  dist/providers/anime/animepahe/create-animepahe.js
  dist/providers/anime/animepahe/create-animepahe.js.map
  src/extension-registry.json
  src/providers/anime/animepahe/create-animepahe.ts
Due: lint, format, types

tollywood
  dist/extension-registry.json
  dist/extractors/StreamP2P.d.ts
  dist/extractors/StreamP2P.d.ts.map
  dist/extractors/StreamP2P.js
  dist/extractors/StreamP2P.js.map
  dist/providers/movies/index.d.ts
  dist/providers/movies/index.d.ts.map
  dist/providers/movies/index.js
  dist/providers/movies/index.js.map
  dist/providers/movies/tollywood/create-tollywood.d.ts
  dist/providers/movies/tollywood/create-tollywood.d.ts.map
  dist/providers/movies/tollywood/create-tollywood.js
  dist/providers/movies/tollywood/create-tollywood.js.map
  dist/providers/movies/tollywood/test.d.ts
  dist/providers/movies/tollywood/test.d.ts.map
  dist/providers/movies/tollywood/test.js
  dist/providers/movies/tollywood/test.js.map
  dist/providers/movies/tollywood/tollywood.d.ts
  dist/providers/movies/tollywood/tollywood.d.ts.map
  dist/providers/movies/tollywood/tollywood.js
  dist/providers/movies/tollywood/tollywood.js.map
  dist/utils/provider-maps.d.ts
  dist/utils/provider-maps.d.ts.map
  dist/utils/provider-maps.js
  dist/utils/provider-maps.js.map
  react-native-consumet-1.2.2.tgz
  src/extension-registry.json
  src/providers/movies/index.ts
  src/providers/movies/tollywood/create-tollywood.ts
  src/providers/movies/tollywood/test.ts
  src/providers/movies/tollywood/tollywood.ts
  src/utils/provider-maps.ts
  test-tollywood.js
Due: lint, format, types

refactor(movies): update netflixmirror integration and adjust search queries
  apps/src/App.tsx
  apps/src/non-registry/Meta.tsx
  apps/src/non-registry/Movies.tsx
  dist/providers/movies/index.d.ts
  dist/providers/movies/index.d.ts.map
  dist/providers/movies/index.js
  dist/providers/movies/index.js.map
  dist/providers/movies/netflixmirror.d.ts
  dist/providers/movies/netflixmirror.d.ts.map
  dist/providers/movies/netflixmirror.js
  dist/providers/movies/netflixmirror.js.map
  dist/providers/movies/netflixmirror/create-netflixmirror.d.ts
  dist/providers/movies/netflixmirror/create-netflixmirror.d.ts.map
  dist/providers/movies/netflixmirror/create-netflixmirror.js
  dist/providers/movies/netflixmirror/create-netflixmirror.js.map
  dist/providers/movies/netflixmirror/netflixmirror.d.ts
  dist/providers/movies/netflixmirror/netflixmirror.d.ts.map
  dist/providers/movies/netflixmirror/netflixmirror.js
  dist/providers/movies/netflixmirror/netflixmirror.js.map
  src/providers/movies/index.ts
  src/providers/movies/netflixmirror.ts
  src/providers/movies/netflixmirror/create-netflixmirror.ts
  src/providers/movies/netflixmirror/netflixmirror.ts
  test/movies/netflixmirror.test.ts
  yarn.lock
Due: lint, format, types

refactor(utils): optimize title cleaning and sub count retrieval
  apps/src/non-registry/Meta.tsx
  apps/src/non-registry/ex.txt
  dist/providers/meta/anilist.js
  dist/providers/meta/anilist.js.map
  dist/utils/utils.d.ts
  dist/utils/utils.d.ts.map
  dist/utils/utils.js
  dist/utils/utils.js.map
  src/providers/meta/anilist.ts
  src/utils/utils.ts
Due: lint, format, types

chore: update release-it versions
  package.json
  yarn.lock
Due: lint, format

chore: release 1.2.3
  CHANGELOG.md
  package.json
Due: lint, format

feat(aniwatchtv): introduce new anime provider
  .husky/pre-commit
  apps/src/App.tsx
  apps/src/non-registry/Movies.tsx
  apps/src/registry/Ext-movies.tsx
  apps/src/registry/build-test-string.js
  apps/src/registry/test-ext-code-generated.js
  apps/src/registry/test-extr-code-generated.js
  dist/extension-registry.json
  dist/extractors/megacloud.d.ts.map
  dist/extractors/megacloud.js
  dist/extractors/megacloud.js.map
  dist/providers/anime/aniwatchtv/aniwatchtv.d.ts
  dist/providers/anime/aniwatchtv/aniwatchtv.d.ts.map
  dist/providers/anime/aniwatchtv/aniwatchtv.js
  dist/providers/anime/aniwatchtv/aniwatchtv.js.map
  dist/providers/anime/aniwatchtv/create-aniwatchtv.d.ts
  dist/providers/anime/aniwatchtv/create-aniwatchtv.d.ts.map
  dist/providers/anime/aniwatchtv/create-aniwatchtv.js
  dist/providers/anime/aniwatchtv/create-aniwatchtv.js.map
  dist/providers/anime/index.d.ts
  dist/providers/anime/index.d.ts.map
  dist/providers/anime/index.js
  dist/providers/anime/index.js.map
  dist/utils/provider-maps.d.ts
  dist/utils/provider-maps.d.ts.map
  dist/utils/provider-maps.js
  dist/utils/provider-maps.js.map
  src/extension-registry.json
  src/extractors/megacloud.ts
  src/providers/anime/aniwatchtv/aniwatchtv.ts
  src/providers/anime/aniwatchtv/create-aniwatchtv.ts
  src/providers/anime/index.ts
  src/utils/provider-maps.ts
  test/anime/aniwatchtv.test.ts
Due: lint, format, types

fix(meta): add aniwatchtv in anilist
  apps/src/App.tsx
  apps/src/non-registry/Meta.tsx
  dist/providers/meta/anilist.d.ts.map
  dist/providers/meta/anilist.js
  dist/providers/meta/anilist.js.map
  src/providers/meta/anilist.ts
Due: lint, format, types

chore: release 1.3.0
  CHANGELOG.md
  package.json
Due: lint, format

fix(json): correct the name of zoro
  dist/extension-registry.json
  src/extension-registry.json
Due: lint, format

fix: json again
  dist/extension-registry.json
  src/extension-registry.json
Due: lint, format

chore: remove dead providers, fix animepahe and start work on anikoto
  apps/src/App.tsx
  apps/src/non-registry/Meta.tsx
  dist/extension-registry.json
  dist/extractors/kwik.js
  dist/providers/anime/anikoto/anikoto.d.ts
  dist/providers/anime/anikoto/anikoto.d.ts.map
  dist/providers/anime/anikoto/anikoto.js
  dist/providers/anime/anikoto/anikoto.js.map
  dist/providers/anime/anikoto/create-anikoto.d.ts
  dist/providers/anime/anikoto/create-anikoto.d.ts.map
  dist/providers/anime/anikoto/create-anikoto.js
  dist/providers/anime/anikoto/create-anikoto.js.map
  dist/providers/anime/animepahe/create-animepahe.js
  dist/providers/anime/aniwatchtv/aniwatchtv.d.ts.map
  dist/providers/anime/aniwatchtv/aniwatchtv.js.map
  dist/providers/anime/aniwatchtv/create-aniwatchtv.d.ts.map
  dist/providers/anime/aniwatchtv/create-aniwatchtv.js.map
  dist/providers/anime/index.d.ts
  dist/providers/anime/index.d.ts.map
  dist/providers/anime/index.js
  dist/providers/anime/index.js.map
  dist/providers/meta/anilist.js
  dist/providers/meta/anilist.js.map
  dist/utils/provider-maps.d.ts
  dist/utils/provider-maps.js
  dist/utils/provider-maps.js.map
  src/extension-registry.json
  src/extractors/kwik.ts
  src/providers/anime/anikoto/anikoto.ts
  src/providers/anime/anikoto/create-anikoto.ts
  src/providers/anime/animepahe/create-animepahe.ts
  src/providers/anime/index.ts
  src/providers/meta/anilist.ts
  src/utils/provider-maps.ts
Due: lint, format, types

Update extension-registry.json
  dist/extension-registry.json
Due: lint, format

chore: update versions
  src/extension-registry.json
Due: lint, format

chore: release 1.3.1
  CHANGELOG.md
  package.json
Due: lint, format

chore: add husky to prepare script
  apps/src/registry/test-code-generated.js
  apps/src/registry/test-ext-code-generated.js
  apps/src/registry/test-extr-code-generated.js
  dist/extractors/megaplay.d.ts.map
  dist/extractors/megaplay.js
  dist/extractors/megaplay.js.map
  dist/providers/anime/anikoto/create-anikoto.d.ts.map
  dist/providers/anime/anikoto/create-anikoto.js
  dist/providers/anime/anikoto/create-anikoto.js.map
  package.json
  src/extractors/index.ts
  src/extractors/megaplay.ts
  src/providers/anime/anikoto/create-anikoto.ts
  text.js
Due: lint, format, types

chore: deprecate select extensions in registry and remove husky from prepare script
  dist/extension-registry.json
  package.json
  src/extension-registry.json
Due: lint, format

chore: release 1.4.0
  CHANGELOG.md
  package.json
Due: lint, format

feat: improve apps
  apps/package.json
  apps/scripts/generate-local-dist.js
  apps/src/App.tsx
  apps/src/components/ProviderSheet.tsx
  apps/src/non-registry/Anime.tsx
  apps/src/non-registry/AnimeScreen.tsx
  apps/src/non-registry/Manga.tsx
  apps/src/non-registry/Meta.tsx
  apps/src/non-registry/Movies.tsx
  apps/src/non-registry/MoviesScreen.tsx
  apps/src/providers.ts
  apps/src/registry/Ext-meta.tsx
  apps/src/registry/Ext-movies.tsx
  apps/src/registry/build-test-string.js
  apps/src/registry/index.tsx
  apps/src/registry/local-dist-map.ts
  apps/src/registry/test-code-generated.js
  apps/src/registry/test-ext-code-generated.js
  apps/src/registry/test-extr-code-generated.js
  apps/src/theme.ts
  dist/extension-registry.json
  dist/extractors/vidhide.d.ts
  dist/extractors/vidhide.d.ts.map
  dist/extractors/vidhide.js
  dist/extractors/vidhide.js.map
  dist/utils/ExtractorManager.d.ts.map
  dist/utils/ExtractorManager.js
  dist/utils/ExtractorManager.js.map
  dist/utils/ProviderManager.d.ts.map
  dist/utils/ProviderManager.js
  dist/utils/ProviderManager.js.map
  src/extension-registry.json
  src/extractors/vidhide.ts
  src/utils/ExtractorManager.ts
  src/utils/ProviderManager.ts
Due: lint, format, types

chore: release 1.5.0
  CHANGELOG.md
  package.json
Due: lint, format

feat: add server selection, META providers, debug player, and HLS fix
  apps/src/non-registry/AnimeScreen.tsx
  apps/src/non-registry/MoviesScreen.tsx
  apps/src/providers.ts
  apps/src/registry/Ext-anime.tsx
  apps/src/registry/Ext-movies.tsx
  dist/extension-registry.json
  dist/providers/movies/vegamovies/create-vegamovies.js
  dist/providers/movies/vegamovies/create-vegamovies.js.map
  src/extension-registry.json
  src/providers/movies/vegamovies/create-vegamovies.ts
Due: lint, format, types

feat(anikoto): enhance episode extraction with additional attributes
  apps/src/registry/Ext-anime.tsx
  apps/src/registry/local-dist-map.ts
  dist/extension-registry.json
  dist/providers/anime/anikoto/create-anikoto.d.ts.map
  dist/providers/anime/anikoto/create-anikoto.js
  dist/providers/anime/anikoto/create-anikoto.js.map
  src/extension-registry.json
  src/providers/anime/anikoto/create-anikoto.ts
Due: lint, format, types

fix(security): add SHA-256 integrity and factoryName validation for dynamic code execution
  README.md
  dist/extension-registry.json
  dist/models/extension-manifest.d.ts
  dist/models/extension-manifest.d.ts.map
  dist/utils/ExtractorManager.d.ts
  dist/utils/ExtractorManager.d.ts.map
  dist/utils/ExtractorManager.js
  dist/utils/ExtractorManager.js.map
  dist/utils/ProviderManager.d.ts
  dist/utils/ProviderManager.d.ts.map
  dist/utils/ProviderManager.js
  dist/utils/ProviderManager.js.map
  docs/security.md
  scripts/prepare-registry.js
  src/extension-registry.json
  src/models/extension-manifest.ts
  src/utils/ExtractorManager.ts
  src/utils/ProviderManager.ts
Due: lint, format, types

feat(ios): implement all native module methods with wkwebview/urlsession
  .gitignore
  Consumet.podspec
  apps/ios/ConsumetExample.xcodeproj/project.pbxproj
  apps/ios/ConsumetExample.xcworkspace/contents.xcworkspacedata
  apps/ios/ConsumetExample/Info.plist
  apps/ios/ConsumetExample/PrivacyInfo.xcprivacy
  apps/ios/Podfile.lock
  ios/Consumet.h
  ios/Consumet.mm
Due: none

chore: release 1.6.0
  CHANGELOG.md
  dist/extension-registry.json
  package.json
Due: lint, format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx,json,md,html,css}
  format: any of: *.{js,ts,jsx,tsx,json}
  types: any of: *.{js,ts,jsx,tsx}
