Repository uwumilabs/react-native-consumet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, types

lefthook.yml:

pre-commit:
  parallel: false
  follow: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx,json,md,html,css}'
      run: |
        echo "🔍 Running ESLint..."
        npx eslint --fix . {staged_files}
        yarn lint --fix .
        echo "✅ ESLint completed"
      stage_fixed: true  

    format:
      glob: '*.{js,ts,jsx,tsx,json}'
      run: |
        echo "🎨 Running Prettier..."
        npx prettier --write {staged_files}
        yarn prettier
        echo "✅ Prettier formatting completed"
      stage_fixed: true 

    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: |
        echo "🛠 Running TypeScript check..."
        npx tsc --noEmit
        yarn typecheck
        echo "✅ TypeScript check completed"

    build-dist:
      run: |
        echo "📦 Building dist folder..."
        yarn build
        if [ -d "dist" ]; then
          echo "✅ Dist folder exists"
          git add dist
        else
          echo "❌ Dist folder not found after build!"
          exit 1
        fi

commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx --no-install commitlint --edit "$1"

debug: true

chore: release 1.0.0-rc.0
  CHANGELOG.md
  package.json
Due: lint, format

docs: improve pr and bug report templates
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: lint

chore: update extractor main urls to point to the main branch [skip ci]
  dist/extension-registry.json
  src/extension-registry.json
Due: lint, format

chore: release 1.0.0-rc.1
  CHANGELOG.md
  package.json
  useful-commands.txt
Due: lint, format

fix: update branch references in extension registry to point to 'main'
  dist/extension-registry.json
  scripts/prepare-registry.js
  src/extension-registry.json
Due: lint, format, types

fix: clean episodeId in server fetching of zoro
  apps/bare-example/src/non-registry/Anime.tsx
  dist/extension-registry.json
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js.map
  dist/models/index.d.ts
  dist/models/index.d.ts.map
  dist/providers/anime/zoro/create-zoro.d.ts.map
  dist/providers/anime/zoro/create-zoro.js
  dist/providers/anime/zoro/create-zoro.js.map
  dist/providers/anime/zoro/zoro.js
  dist/providers/anime/zoro/zoro.js.map
  src/extension-registry.json
  src/index.tsx
  src/models/index.ts
  src/providers/anime/zoro/create-zoro.ts
  src/providers/anime/zoro/zoro.ts
Due: lint, format, types

feat: add 111Movies & AnimeSuge; fix MultiStream
  apps/bare-example/src/App.tsx
  apps/bare-example/src/non-registry/Movies.tsx
  dist/providers/anime/animesuge/animesuge.d.ts
  dist/providers/anime/animesuge/animesuge.d.ts.map
  dist/providers/anime/animesuge/animesuge.js
  dist/providers/anime/animesuge/animesuge.js.map
  dist/providers/anime/animesuge/create-animesuge.d.ts
  dist/providers/anime/animesuge/create-animesuge.d.ts.map
  dist/providers/anime/animesuge/create-animesuge.js
  dist/providers/anime/animesuge/create-animesuge.js.map
  dist/providers/anime/zoro/create-zoro.js
  dist/providers/anime/zoro/create-zoro.js.map
  dist/providers/movies/multistream/index.d.ts
  dist/providers/movies/multistream/index.d.ts.map
  dist/providers/movies/multistream/index.js
  dist/providers/movies/multistream/index.js.map
  dist/providers/movies/multistream/utils.d.ts
  dist/providers/movies/multistream/utils.d.ts.map
  dist/providers/movies/multistream/utils.js
  dist/providers/movies/multistream/utils.js.map
  package.json
  src/providers/anime/animesuge/animesuge.ts
  src/providers/anime/animesuge/create-animesuge.ts
  src/providers/anime/zoro/create-zoro.ts
  src/providers/movies/multistream/index.ts
  src/providers/movies/multistream/utils.ts
Due: lint, format, types

feat: native modules in execution context
  apps/bare-example/src/App.tsx
  dist/extension-registry.json
  dist/providers/anime/animepahe/create-animepahe.js
  dist/providers/anime/animepahe/create-animepahe.js.map
  dist/providers/anime/zoro/create-zoro.d.ts.map
  dist/providers/anime/zoro/create-zoro.js
  dist/providers/anime/zoro/create-zoro.js.map
  dist/utils/ProviderManager.d.ts.map
  dist/utils/ProviderManager.js
  dist/utils/ProviderManager.js.map
  src/extension-registry.json
  src/providers/anime/animepahe/create-animepahe.ts
  src/providers/anime/zoro/create-zoro.ts
  src/utils/ProviderManager.ts
  useful-commands.txt
Due: lint, format, types

chore: release 1.0.0-rc.2
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  package.json
Due: lint, format

refactor(provider-manager): enhance extension loading and type safety
  apps/bare-example/src/App.tsx
  apps/bare-example/src/registry/Ext-meta.tsx
  apps/bare-example/src/registry/index.tsx
  dist/utils/ProviderManager.d.ts
  dist/utils/ProviderManager.d.ts.map
  dist/utils/ProviderManager.js
  dist/utils/ProviderManager.js.map
  dist/utils/provider-maps.d.ts
  dist/utils/provider-maps.d.ts.map
  dist/utils/provider-maps.js
  dist/utils/provider-maps.js.map
  src/utils/ProviderManager.ts
  src/utils/provider-maps.ts
Due: lint, format, types

chore: release 1.0.0
  CHANGELOG.md
  package.json
Due: lint, format

refactor(provider-maps): implement lazy loading for providers to avoid circular dependencies
  .husky/pre-commit
  dist/utils/provider-maps.d.ts
  dist/utils/provider-maps.d.ts.map
  dist/utils/provider-maps.js
  dist/utils/provider-maps.js.map
  src/utils/provider-maps.ts
  test/anime/zoro.test.ts
Due: lint, format, types

chore: release 1.0.1
  CHANGELOG.md
  dist/extension-registry.json
  package.json
Due: lint, format

refactor(provider-manager): attach provider prototypes for instance validation
  apps/bare-example/src/registry/Ext-meta.tsx
  apps/bare-example/src/registry/build-test-string.js
  apps/bare-example/src/registry/test-code-generated.js
  src/utils/ProviderManager.ts
Due: lint, format, types

chore: release 1.0.2
  .husky/pre-commit
  CHANGELOG.md
  dist/extension-registry.json
  dist/utils/ProviderManager.d.ts.map
  dist/utils/ProviderManager.js
  dist/utils/ProviderManager.js.map
  package.json
  test/anime/zoro.test.ts
Due: lint, format, types

refactor: code format [skip ci]
  .husky/pre-commit
  .prettierignore
  apps/bare-example/src/App.tsx
  apps/bare-example/src/non-registry/Anime.tsx
  apps/bare-example/src/non-registry/Movies.tsx
  apps/bare-example/src/registry/Ext-anime.tsx
  apps/bare-example/src/registry/Ext-meta.tsx
  apps/bare-example/src/registry/Ext-movies.tsx
  apps/bare-example/src/registry/build-test-string.js
  apps/bare-example/src/registry/index.tsx
  apps/bare-example/src/registry/test-code-generated.js
Due: lint, format, types

chore: release 1.0.3
  CHANGELOG.md
  package.json
Due: lint, format
