Repository uwumilabs/react-native-consumet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, types

lefthook.yml:

pre-commit:
  parallel: false
  follow: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx,json,md,html,css}'
      run: |
        echo "🔍 Running ESLint..."
        npx eslint --fix . {staged_files}
        yarn lint --fix .
        echo "✅ ESLint completed"
      stage_fixed: true  

    format:
      glob: '*.{js,ts,jsx,tsx,json}'
      run: |
        echo "🎨 Running Prettier..."
        npx prettier --write {staged_files}
        yarn prettier
        echo "✅ Prettier formatting completed"
      stage_fixed: true 

    types:
      glob: '*.{js,ts,jsx,tsx}'
      run: |
        echo "🛠 Running TypeScript check..."
        npx tsc --noEmit
        yarn typecheck
        echo "✅ TypeScript check completed"

    build-dist:
      run: |
        echo "📦 Building dist folder..."
        yarn build
        if [ -d "dist" ]; then
          echo "✅ Dist folder exists"
          git add dist
        else
          echo "❌ Dist folder not found after build!"
          exit 1
        fi

commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx --no-install commitlint --edit "$1"

debug: true

feat: multi-quality support and add property in registry
  apps/bare-example/src/App.tsx
  apps/bare-example/src/non-registry/Anime.tsx
  apps/bare-example/src/non-registry/Movies.tsx
  dist/extension-registry.json
  dist/extractors/megacloud.d.ts.map
  dist/extractors/megacloud.js
  dist/extractors/megacloud.js.map
  dist/models/extension-manifest.d.ts
  dist/models/extension-manifest.d.ts.map
  dist/providers/anime/animepahe/create-animepahe.d.ts.map
  dist/providers/anime/animepahe/create-animepahe.js
  dist/providers/anime/animepahe/create-animepahe.js.map
  src/extension-registry.json
  src/extractors/megacloud.ts
  src/models/extension-manifest.ts
  src/providers/anime/animepahe/create-animepahe.ts
Due: lint, format, types

feat(extractor): enhance extractor-manager to support dynamic server names
  apps/bare-example/src/App.tsx
  apps/bare-example/src/registry/Ext-anime.tsx
  apps/bare-example/src/registry/build-test-string.js
  apps/bare-example/src/registry/index.tsx
  apps/bare-example/src/registry/test-code-generated.js
  dist/models/types.d.ts
  dist/models/types.d.ts.map
  dist/models/types.js
  dist/models/types.js.map
  dist/providers/anime/animepahe/create-animepahe.js
  dist/providers/anime/animepahe/create-animepahe.js.map
  dist/utils/ExtractorManager.d.ts
  dist/utils/ExtractorManager.d.ts.map
  dist/utils/ExtractorManager.js
  dist/utils/ExtractorManager.js.map
  dist/utils/ProviderManager.d.ts
  dist/utils/ProviderManager.d.ts.map
  dist/utils/ProviderManager.js
  dist/utils/ProviderManager.js.map
  docs/extension-integration.md
  src/models/types.ts
  src/providers/anime/animepahe/create-animepahe.ts
  src/utils/ExtractorManager.ts
  src/utils/ProviderManager.ts
Due: lint, format, types

chore: release 1.1.0
  CHANGELOG.md
  package.json
  test/movies/himovies.test.ts
Due: lint, format, types

fix(megacloud): quality and url parsing in megacloud extractor
  apps/bare-example/src/App.tsx
  apps/bare-example/src/non-registry/Anime.tsx
  dist/extension-registry.json
  dist/extractors/megacloud.d.ts.map
  dist/extractors/megacloud.js
  dist/extractors/megacloud.js.map
  src/extension-registry.json
  src/extractors/megacloud.ts
Due: lint, format, types

chore(docs): update readme [skip ci]
  README.md
Due: lint

chore: bump example app versions and add new servers in multistream
  apps/android/app/src/main/java/com/consumet.example/MainApplication.kt
  apps/android/build.gradle
  apps/android/gradle.properties
  apps/android/gradle/wrapper/gradle-wrapper.jar
  apps/android/gradle/wrapper/gradle-wrapper.properties
  apps/android/gradlew
  apps/android/gradlew.bat
  apps/babel.config.js
  apps/package.json
  apps/src/App.tsx
  apps/src/non-registry/Movies.tsx
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/providers/movies/multistream/utils.d.ts
  dist/providers/movies/multistream/utils.d.ts.map
  dist/providers/movies/multistream/utils.js
  dist/providers/movies/multistream/utils.js.map
  package.json
  src/index.tsx
  src/providers/movies/multistream/utils.ts
  yarn.lock
Due: lint, format, types

fix(megaup|animekai): update megaup extractor to use external api for iframe decoding
  apps/src/App.tsx
  apps/src/non-registry/Anime.tsx
  apps/src/non-registry/Manga.tsx
  dist/extractors/megaup.d.ts
  dist/extractors/megaup.d.ts.map
  dist/extractors/megaup.js
  dist/extractors/megaup.js.map
  dist/providers/anime/animekai.d.ts.map
  dist/providers/anime/animekai.js
  dist/providers/anime/animekai.js.map
  src/extractors/megaup.ts
  src/providers/anime/animekai.ts
Due: lint, format, types

feat(megaup): improve extractor with multi-quality and better source handling
  apps/src/App.tsx
  apps/src/non-registry/Meta.tsx
  apps/src/registry/Ext-anime.tsx
  dist/extractors/megaup.d.ts.map
  dist/extractors/megaup.js
  dist/extractors/megaup.js.map
  src/extractors/megaup.ts
Due: lint, format, types

chore: release 1.2.0
  CHANGELOG.md
  package.json
Due: lint, format

chore: release 1.2.0
  CHANGELOG.md
  dist/extension-registry.json
  package.json
  src/extension-registry.json
Due: lint, format

fix(multimovies): fix multimovies fetch calls
  apps/src/App.tsx
  apps/src/non-registry/Movies.tsx
  dist/extractors/StreamP2P.d.ts
  dist/extractors/StreamP2P.d.ts.map
  dist/extractors/StreamP2P.js
  dist/extractors/StreamP2P.js.map
  dist/extractors/streamwish.d.ts
  dist/extractors/streamwish.d.ts.map
  dist/extractors/streamwish.js
  dist/extractors/streamwish.js.map
  dist/extractors/vidhide.d.ts
  dist/extractors/vidhide.d.ts.map
  dist/extractors/vidhide.js
  dist/extractors/vidhide.js.map
  dist/providers/movies/dramacool.d.ts
  dist/providers/movies/dramacool.d.ts.map
  dist/providers/movies/dramacool.js
  dist/providers/movies/dramacool.js.map
  dist/providers/movies/index.d.ts
  dist/providers/movies/index.d.ts.map
  dist/providers/movies/index.js
  dist/providers/movies/index.js.map
  dist/providers/movies/multimovies.d.ts
  dist/providers/movies/multimovies.d.ts.map
  dist/providers/movies/multimovies.js
  dist/providers/movies/multimovies.js.map
  src/extractors/streamwish.ts
  src/extractors/vidhide.ts
  src/providers/movies/dramacool.ts
  src/providers/movies/index.ts
  src/providers/movies/multimovies.ts
Due: lint, format, types

fix: update repository url's to reflect new ownership [skip ci]
  .husky/pre-commit
  CHANGELOG.md
  package.json
Due: lint, format

chore: release 1.2.1
  CHANGELOG.md
  dist/extension-registry.json
  package.json
Due: lint, format

fix(tmdb): add release date validation before year filtering
  .husky/pre-commit
  apps/src/App.tsx
  apps/src/non-registry/Anime.tsx
  apps/src/non-registry/Meta.tsx
  dist/extension-registry.json
  dist/providers/meta/tmdb.d.ts.map
  dist/providers/meta/tmdb.js
  dist/providers/meta/tmdb.js.map
  package.json
  src/providers/meta/tmdb.ts
Due: lint, format, types

chore: release 1.2.2
  CHANGELOG.md
  package.json
Due: lint, format

fix: language fallback in megaup
  apps/src/App.tsx
  apps/src/non-registry/Anime.tsx
  apps/src/non-registry/Movies.tsx
  apps/src/registry/Ext-movies.tsx
  apps/src/registry/build-test-string.js
  apps/src/registry/test-ext-code-generated.js
  dist/extension-registry.json
  dist/extractors/megaup.js
  dist/extractors/megaup.js.map
  dist/providers/movies/multimovies/create-multimovies.d.ts.map
  dist/providers/movies/multimovies/create-multimovies.js
  dist/providers/movies/multimovies/create-multimovies.js.map
  src/extension-registry.json
  src/extractors/megaup.ts
  src/providers/movies/multimovies/create-multimovies.ts
Due: lint, format, types

refactor(animekai): support hardsub, softsub, and dub server types
  apps/src/non-registry/Anime.tsx
  apps/src/non-registry/ex.txt
  dist/extension-registry.json
  dist/providers/anime/animekai/create-animekai.d.ts.map
  dist/providers/anime/animekai/create-animekai.js
  dist/providers/anime/animekai/create-animekai.js.map
  src/extension-registry.json
  src/providers/anime/animekai/create-animekai.ts
Due: lint, format, types
